
body, html{
  min-width: 700px;
}

.content{
  display: flex;
  height: 90vh; 
}

.courses{
  display: flex;
  flex: 0.7;
  flex-direction: column;
  overflow-y: scroll;
}
.right{
  flex: 0.3;
  position: sticky;
  overflow-y: scroll;
}
.remBut{
  background-color: #041d5b;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid #041d5b;
  margin: 5px 0px;

}
.right{
  padding: 3px;
  margin-left: 10px;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
.nav{
    display: flex;
    flex: 1;
}
